-var mainTitles = ['No hagas esperar a tu coche', 'Encuentra tu solución']
-var mainButtonsText = ['Checa tu presupuesto', 'Ver todos los servicios']
-var mainButtonsLinks = ['#', 'all_services.html']