-var mainTitles = ['No hagas esperar a tu coche', 'Encuentra tu solución']
-var mainButtonsText = ['Checa tu presupuesto', 'Ver todos los servicios']
-var mainButtonsLinks = ['#', 'all_services.html']
-var indexSliderOne = [
    ['img', 'img/jpg/auto1.jpg'], 
    ['text', ['Slider 1', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nesciunt adipisci reprehenderit eius aspernatur beatae ullam cumque cum quidem, est dignissimos mollitia fugit!']], 
    ['img', 'img/jpg/auto2.jpg'], 
    ['img', 'img/jpg/auto3.jpg']
]